@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Poppins:wght@400;500&family=Roboto:wght@400;700&family=Tilt+Warp&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color:#183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section:20px;
}

body{
    font-family: 'poppins', sans-serif;
    color: var(--primary-text-color);
}

h1{
    font-size: 3rem;

}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-family: 'roboto',sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}
a{
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style: none;
}
.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}

.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);

}

.hover-link{
    color: var(--primary-text-color);

}
.hover-link:hover{
    color: var(--accent-color);
}

.flex{
    display: flex;
    align-items: center;
}

.primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}
.primary-button:hover{
    background-color: var(--accent-color-dark);
}
.secondary-button{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--secondary-text-color);
    padding: 12px 24px;
    transition: 0.2s ease-out;

}
.secondary-button:hover{
    color: var(--accent-color) !important;
    border-color: var(--accent-color);
}

/* top banner */

.top-banner{
    background-color: #e74694;
    background-image: url('./asset\ 32.png');
    background-size: 300px;
}

.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
}
.main-nav{
    margin-top: 20px;
    justify-content: space-between;

}

.company-logo img{
    width: 200px;
}

.nav-links{
    flex-basis: 730px;
}
.nav-links ul{
    justify-content: end;
    gap: 40px;
}

/* header-section */

header{
    padding: 50px var(--padding-inline-section);

}
.header-section{
    justify-content: center;
    gap: 50px;
}

.header-left{
    max-width: 40vw;
}
.header-left h1{
    margin-top: 20px;
}
.header-right img{
    width: 600px;
}
.get-started-btn{
    margin-top: 20px;
}

.companies-header{
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);
}
.logos{
    justify-content: space-between;
}


.logo{
    height: 46px;
}

.features-section{
    padding: 80px var(--padding-inline-section) 0;
    background-image: url(asset\ 34.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.features-header{
    text-align: center;
}
.features-heading{
    margin-bottom: 20px;
}

.features-area{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;
}

.features-card{
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
}

/* big feature section */

.big-feature-section{
    padding: 30px var(--padding-inline-section);

}

.big-feature-conatiner{
    gap: 30px;
}

.feature-img img{
    width: 100%;
}

.features-direc {
    align-items: flex-start;
    flex-direction: column;
}
/* .features-direc h4{
    align-items: flex-start;
    flex-direction: column;
}
.features-direc p{
    align-items: flex-start;
    flex-direction: column;
} */

.examples-header{
    flex-direction: column;
    gap: 20px;
}
.examples-card{
    width: 23%;
    position: relative;
    min-height: 300px;
    background: black;
    background:linear-gradient(rgb(0,0,0,0.1),rgb( 0,0,0,0.8)), url(../images/asset\ 36.jpeg);
    transition: 0.3s ease-out;
}
.examples-card:hover{
    box-shadow: 0,0,10px #888;
   
}
.ec2{
    width: 23%;
    position: relative;
    min-height: 300px;
    background: black;
    background:linear-gradient(rgb(0,0,0,0.1),rgb( 0,0,0,0.8)), url(../images/asset\ 36.jpeg);
    background-size: cover;
   
}

.ec3{
    width: 23%;
    position: relative;
    min-height: 300px;
    background: black;
    background:linear-gradient(rgb(0,0,0,0.1),rgb( 0,0,0,0.8)), url(../images/../images/asset\ 37.jpeg);
    background-size: cover;

   
}

.ec4{
    width: 23%;
    position: relative;
    min-height: 300px;
    background: black;
    background:linear-gradient(rgb(0,0,0,0.1),rgb( 0,0,0,0.8)), url(../images/asset\ 38.jpeg);
    background-size: cover;

   
}
.ec5{
    width: 23%;
    position: relative;
    min-height: 300px;
    background: black;
    background:linear-gradient(rgb(0,0,0,0.1),rgb( 0,0,0,0.8)), url(../images/asset\ 39.jpeg);
    background-size: cover;

   
}
.card-text{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
}

.examples-area{
    justify-content: space-between;
    margin-block: 30px;
}


/* practice session */

.cta-section{
    background-color: #183b54;
    display:flex;
    justify-content: space-between;

}
.participants{
    padding: 50px var(--padding-inline-section) 0;
    box-sizing: 622px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 0px;


}
.participants h1,h3{
    color: white;
}
.participants p{
    color: #b9cde4;
}
.ul1{
    display:flex;
    justify-content:flex-start;
    margin-right: 50px;
    
}
.ul2{
    display: flex;
    margin-left: 0px;
   
}
   
li{
    text-align: left;
    color:#577592 ;
    justify-content:center;
    list-style-type:disc;
    
}
.link{
    color: #b9cde4;
    text-decoration:underline;
}
.bg-img{
    width: 600px;
    justify-content: end;
}
.p-container{
    height: 800px;
    width: 4000px;
    background-color: #183b54;
}
/* test-section-starts */

.test-section{
    display: flex;
    justify-content: space-between;
   margin-top: 90px;
}
.test-section h2{
    text-align: center;
}
.test-section p {
    margin-top: 40px;
    text-align: center;
}
.test-section a{
     margin-left: 127px;
     margin-top: 20px;
     
}
.get-start{
 justify-content: center;
}


/* test-section ends */

/* Footer-section begins */
/* .image{
    align-items: flex-start;
} */
.link-column{
    flex-direction: column;
}
.footer-container{
    height: 400px;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 100px;
    margin-top: 100px;
    gap: 100px;
    /* text-align: left; */
    /* border: 2px solid green; */
    background-color: #ebf2fa;
    line-height: 28px;
}